/* resetting margins and paddings to ensure consistency accross browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* resetting the default stylings of the button */
button {
  border: none;
}

:root {
  /* defining font weights as varibles */
  --small-font: 500;
  --medium-font: 700;
  --large-font: 800;

  /* color specifications in HSL */
  --white: hsl(0, 0%, 100%);
  --gray: hsl(232, 10%, 56%);
  --pink: hsl(341, 100%, 83%);
  --yellow: hsl(60, 100%, 50%);
  --purple: hsl(234, 25%, 52%);
  --dark-pink: hsl(341, 92%, 62%);
  --deep-purple: hsl(234, 54%, 16%);

  /* extracted button gradient colors specified in HSL */
  --blue: hsl(237, 100%, 64%);
  --orange: hsl(13, 100%, 64%);
  --magenta: hsl(322, 87%, 55%);

  /* gradients specified in HSL */
  --pop-gradient: linear-gradient(180deg, var(--blue), var(--magenta));
  --orange-gradient: linear-gradient(180deg, var(--orange), var(--magenta));

  /* extracted section background gradient colors specification in HSLA */
  --pale-white: hsla(0, 0%, 100%, 1);
  --pale-blue: hsla(234, 100%, 97%, 1);

  /* section background gradients specified in HSLA */
  --bluish-gradient: linear-gradient(180deg, var(--pale-white), var(--pale-blue));

  font-size: 1rem;
}

/* styling the browser's body */
body {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* sizing the header, main and footer sections to take the full width of the device */
header,
main,
footer {
  width: 100vw;
}

/* styling the header and main sections with a background and padding */
header,
main {
  background: var(--white);
  padding: 1rem 1rem 0 1rem;
}

/* styling the top of navigation container */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* styling the cta button */
.cta-button {
  height: 3rem;
  width: 8.75rem;
  cursor: pointer;
  color: var(--white);
  border-radius: 2rem;
}

/* styling the cta button with a background color */
.header-cta-button {
  z-index: 1;
  background: var(--deep-purple);
}

/* styling the hero container */
.hero-container {
  margin-top: 2.37rem;
}

/* styling the hero heading */
.text-container h1 {
  font-size: 9.375vw;
  font-weight: var(--large-font);
}

/* styling the hero text */
.text-container p {
  font-size: 1rem;
  color: var(--gray);
  margin-top: 1.62rem;
  line-height: 1.625rem;
  font-weight: var(--small-font);
}

/* styling the cta button with an orange gradient background */
.hero-cta-button {
  height: 3.5rem;
  margin-top: 1.5rem;
  background: var(--orange-gradient);
}

/* sstyling the hero image container */
.image-container {
  height: 18.8125rem;
  margin-top: 2.88rem;
}

/* styling the hero image wrapper */
.image-wrapper {
  height: 100%;
  display: flex;
  position: relative;
}

/* sizing the hero image within its parent wrapper */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

/* styling the main section of the page */
main {
  padding-top: 0;
  background: var(--bluish-gradient);
}

/* styling the main section's heading container */
.main-heading-container {
  display: flex;
  height: 7.5rem;
  padding: 1.8rem;
  align-items: center;
  border-radius: 0.8rem;
  margin-bottom: 2.5rem;
  background: var(--orange-gradient);
}

/* styling the main section heading */
.main-heading-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--white);
  font-weight: var(--large-font);
}

/* styling the orange grid box to not display on mobile screens */
.orange-grid-box {
  display: none;
}

/* styling the cards for each course */
.grid-box {
  padding: 0 1.81rem;
  position: relative;
  height: 16.1875rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  background: var(--pale-white);
  border: 0.2px solid var(--pale-white);
}

/* stylin the course-card icon */
.small-icons {
  position: absolute;
  margin-top: -1.75rem;
}

/* styling the course-card heading */
.grid-box h3 {
  margin-top: 3.5rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--deep-purple);
}

/* styling the course-card text */
.grid-box p {
  font-size: 1rem;
  color: var(--gray);
  line-height: 1.625rem;
  margin-bottom: 1.5rem;
  font-weight: var(--small-font);
}

/* styling the course-card cta text */
.grid-box a {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--dark-pink);
  font-weight: var(--medium-font);
}

/* styling the footer bar */
#footer {
  display: flex;
  height: 7.5rem;
  padding: 0 1rem;
  align-items: center;
  background: var(--deep-purple);
  justify-content: space-between;
}

/* Styling the footer cta button */
.footer-cta-button {
  background: var(--pop-gradient);
}


/* styling for tablet screens */
@media screen and (min-width: 48rem) {
  /* resizing the padding on the header and main sections to optimize viewing on tablets */
  header,
  main {
    padding: 1.5rem 2.5rem 0 2.5rem;
  }

  /* restyling the hero container to a flex display to optimize viewing on tablets */
  .hero-container {
    display: flex;
    margin-top: 6.56rem;
    flex-direction: row;
    margin-bottom: 13.13rem;
  }

  /* setting the info container to take up half of the parent container's width */
  .text-container {
    flex-basis: 50%;
  }

  /* resizing the page heading to optimize viewing on tablets */
  .text-container h1 {
    font-size: 4.6875vw;
  }

  /* resizing the top margin of the hero text to optimize viewing on tablets */
  .text-container p {
    margin-top: 1.56rem;
  }

  /* setting the picture element to take up half of the parent container's width and removing the top margin */
  .image-container {
    height: auto;
    margin-top: 0;
    flex-basis: 50%;
  }

  /* styling the hero image to optimize viewing on tablets */
  .hero-image {
    top: -1rem;
    scale: 280%;
    width: 100%;
    height: 100%;
    right: -10rem;
    position: absolute;
    object-fit: contain;
  }
  
  /* restyling the main section to a 2-cloumn grid display to optimize viewing on tablets */
  main {
    gap: 0.7rem;
    display: grid;
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
  }

  /* resetting the mobile heading to not display on tablet screens */
  .main-heading-container {
    display: none;
  }

  /* restyling the main section heading as a grid box in a grid system to optimize viewing on tablets  */
  .orange-grid-box {
    display: flex;
    color: var(--white);
    padding-top: 3.5rem;
    justify-content: center;
    background: var(--orange-gradient);
  }

  /* resizing the paddings on the footer section to optimize viewing on tablets */
  #footer {
    padding: 0 2.5rem;
  }
}


/* styling for dektops and large screens */
@media screen and (min-width: 80rem) {
  /* resizing the paddings on the header and main sections to optimize viewing on large screens and desktops */
  header,
  main {
    padding: 2.5rem 10.31rem 0 10.31rem;
  }

  /* resizing the cta buttons to optimize viewing on large screens and dekstops */
  .cta-button {
    width: 10.4375rem;
    height: 3.9375rem;
  }

  /* restyling the header cta button to a different background on hover */
  .header-cta-button:hover {
    background: var(--purple);
  }

  /* resizing the top margin of the hero container */
  .hero-container {
    margin-top: 11.2rem;
  }

  /* resizing the heading text to optimize viewing on large screens and desktops */
  .text-container h1 {
    font-size: 3.5rem;
  }

  /* resizing the top margin of the hero text to optimize viewing on large screens and desktops */
  .text-container p {
    margin-top: 1.81rem;
  }

  /* styling the hero image */
  .hero-image {
    top: -7rem;
    scale: 280%;
    width: 100%;
    height: 100%;
    right: -15rem;
    position: absolute;
    object-fit: contain;
  }

  /* resizing the top margin of the orange button to optimize viewing on large screens and desktops */
  .hero-cta-button {
    margin-top: 2.5rem;
  }
  
  /* restyling the main section to a 3-cloumn grid display to optimize viewing on large screens and desktops */
  main {
    gap: 1.88rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* styling some animation to display when the grid boxes are hovered on */
  .course-box:hover {
    scale: 1.05;
    transition: ease-in-out 2s;
    background: var(--pop-gradient);
  }
  
  .course-box:hover .small-icons {
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    border: 1.5px solid var(--yellow);
  }
  
  .course-box:hover p {
    color: var(--pale-white);
    transition: ease-in 0.5s;
  }
  
  .course-box:hover a {
    color: var(--yellow);
    transition: ease-in 0.5s;
  }
  
  /* restyling the paddings on the footer section to optimize viewing on large screens and desktops */
  #footer {
    padding: 0 10.32rem;
  }
}
